@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');


$main-background: url(./images/main-background.jpg);
$primary-color: rgba(255, 255, 255, 0.95);
$secondary-color: rgba(227, 227, 227, 0.95);

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$special-font: 'Italianno', $font-stack;

$max-characters: 75ch;
$paragraph-font-size: calc(0.5rem + 1vmin);
$h1-font-size: calc(1rem + 2.5vmin);
$h2-font-size: calc(0.9rem + 2.3vmin);
$h3-font-size: $h2-font-size;

$outer-gap: calc(0.5rem + 1vmin);
$inner-gap: calc(0.5rem + 1vmin);
$inner-footer-gap: calc(0.25rem + 0.5vmin);

%round-corners{
    border-radius: 5px;
}

%max-content-size{
    height: 100vh;
    width: 100vw;
}

@mixin set-item-layout($img-flex: 1, $info-flex: 1){
    display: flex;
    flex-wrap: wrap;
    &>.img-wrapper{
        flex: $img-flex;
        align-self: center;

        line-height: 0;
        img{
            @extend %round-corners;
        }
        @media(max-width:600px){
            flex: 100%;
        }
    }
    &>.item-info{
        flex: $info-flex;
        text-align: justify;
        padding: 0 $inner-gap;
        >p{
            max-width: $max-characters;
        }
    }
}

@mixin set-heading($heading-size: $paragraph-font-size) {
    font-family: $special-font;
    font-size: $heading-size;
}

@mixin set-background($background: $primary-color) {
    background: $background;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body{
    @extend %max-content-size;
    font-family: $font-stack;
    font-size: $paragraph-font-size;
}
a{
    &:any-link{
        color: inherit;
        text-decoration: none;
    }
    &:hover{
        text-decoration: underline;
    }
}
img{
    height: auto;
    width: 100%;
}
h2{
    @include set-heading($heading-size: $h2-font-size);
}
h3{
    @include set-heading($heading-size: $h3-font-size);
}
#content{
    @extend %max-content-size;
    @include set-background($background: $main-background);

    display: flex;
    flex-direction: column;

    >header{
        @include set-background();
        padding: 0 $inner-gap;
        box-shadow: 0 0px 10px 1px black;

        display: flex;
        align-items: center;
        flex-wrap: wrap;
        >*{
            flex: 1;
        }
        >h1{
            @include set-heading($heading-size: $h1-font-size);
            &::after{
                background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/320px-Flag_of_Italy.svg.png);
                background-size: contain;
                display: inline-block;
                width: $h1-font-size;
                height: calc($h1-font-size*0.66);
                content:"";
            }
        }
        >ul{
            list-style: none;
            
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            column-gap: 20px;
        }
        
    }
    >main{
        flex: 5;
        min-height: 0;
        overflow-y: auto;
        margin: $outer-gap 0;

        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:'. . .'
                            '. selected-content .'
                            '. . .';
    }
    >footer{
        @include set-background();
        padding: $inner-footer-gap 0;
        text-align: center;
    }
}
#selected-content{
    @include set-background();
    @extend %round-corners;
    grid-area: selected-content;

    padding: $inner-gap;
    margin: auto;
    >#about-tab{
        @include set-item-layout($img-flex: 1, $info-flex: 3);
    }
    >#menu-tab{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        >.menu-item{
            @include set-item-layout(1, 3);
            flex: 1;

            background-color: $secondary-color;
            // padding-right: $inner-gap;

            .item-heading{
                border-bottom: dashed 1px black;

                display: flex;
                align-items: baseline;
                justify-content: space-between;
                >.item-price{
                    @include set-heading($heading-size: $h3-font-size);
                }
            }
        }
    }

}

